<html>
<head>

    <head>Bot o'clock Login</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"></link>

</head>
<body>

    <br>
    <br>
    <div id="errors">
    </div>
    <br>
    <div style="width: 100vw; min-width: 100vw; text-align: center;">

        <div class="card" style="max-width: 25rem; text-align: center; margin: auto;">
            <div class="card-body" style="font-size: 2rem;">

                    <img src="/static/img/bot_o_clock_logo.jpg" style="width: 5rem; height: 5rem; border-radius: 2.5rem;"></img>
                    <br>
                    <br>
                    <strong>Log in with Discord to continue</strong>
                    <br>
                    <br>
                    <a href="{{ login_redir }}" class="btn btn-primary" style="width: 75%">Take me to Discord!</a>

            </div>
        </div>

    </div>

    <script>

const error = urlParams.get('err');

if (error != null) {
    var issue_tab = document.getElementById("errors");
    issue_tab.innerHTML = `<div class="alert alert-danger">An error occured trying to get user information. Please login again</div>`;
}

    </script>

</body>
</html>